{% extends "base.html" %}

{%block title%}
	Signup
{% endblock %}

{%block content%}
<br>
{% if errors %}
	{{errors}}
{% endif %}
<div class="row">
	<div class="col-lg-1">
	</div>

	<div class="col-lg-11">
	<form action="." method="POST">
	{% csrf_token %}
		<div class="row">
			<div class="col-sm-1">
				<label><b>Name:</b></label>
			</div>

			<div class="col-sm-6">
				<input type="text" name="name">
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-sm-1">
				<label><b>Email id:</b></label>
			</div>

			<div class="col-sm-6">
				<input type="text" name="email">
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-sm-1">
				<label><b>Username:</b></label>
			</div>

			<div class="col-sm-6">
				<input type="text" name="username">
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-sm-1">
				<label><b>Password:</b></label>
			</div>

			<div class="col-sm-6">
				<input type="password" name="password">
			</div>
		</div>
		<br>
	
		<div class="row">
			<div class="col-sm-1">
				<label><b>Confirm Password:</b></label>
			</div>

			<div class="col-sm-6">
				<input type="password" name="password_conf">
			</div>
		</div>
		<br>

		<input type="submit" value="Signup" class="btn btn-info"><br>
	</form>
	</div>
</div>
{% endblock %}