{% extends "base.html" %}

{%block title%}
	1991-2000
{% endblock %}

{%block content%}
	<div class="row">
  		<div class="col-lg-2">
  		</div>

  		<div class="col-lg-8">
		    <div class="col-lg-4 dash-card">
		    	<a href="#">
		      	<div class="white-panel">
		     	    <p>1991</p>
		      	</div> 
		      	</a>
		    </div>
			
			<div class="col-lg-4 dash-card">
			    <a >
			    <div class="white-panel">
			         
			        <p>1992</p>
			    </div> 
			    </a>
			</div>

		    <div class="col-lg-4 dash-card">
		    	<a href="#">
		    	<div class="white-panel">
		          
		          <p >1993</p>
		    	</div> 
		    	</a>
		  	</div>

		  	<div class="col-lg-4 dash-card">
		    	<a href="#">
		    	<div class="white-panel">
		          
		          <p >1994</p>
		    	</div> 
		    	</a>
		  	</div>

		  	<div class="col-lg-4 dash-card">
		    	<a href="#">
		    	<div class="white-panel">
		          
		          <p >1995</p>
		    	</div> 
		    	</a>
		  	</div>

		  	<div class="col-lg-4 dash-card">
		    	<a href="#">
		    	<div class="white-panel">
		          
		          <p >1996</p>
		    	</div> 
		    	</a>
		  	</div>

		  	<div class="col-lg-4 dash-card">
		    	<a href="#">
		    	<div class="white-panel">
		          
		          <p >1997</p>
		    	</div> 
		    	</a>
		  	</div>

		  	<div class="col-lg-4 dash-card">
		    	<a href="#">
		    	<div class="white-panel">
		          
		          <p >1998</p>
		    	</div> 
		    	</a>
		  	</div>

		  	<div class="col-lg-4 dash-card">
		    	<a href="#">
		    	<div class="white-panel">
		          
		          <p >1999</p>
		    	</div> 
		    	</a>
		  	</div>

		  	<div class="col-lg-4 dash-card">
		    	<a href="#">
		    	<div class="white-panel">
		          
		          <p >2000</p>
		    	</div> 
		    	</a>
		  	</div>

		</div>

		<div class="col-lg-2">
		</div>

	</div>

<style>

.dash-card{
  margin: 15px 0;
  cursor: pointer;
}

.white-panel {
  text-align: center;
  background-image: url('http://a10.gaanacdn.com/media/images-v5/default-album-175x175.jpg');
  color: #ff9900;
  height: 175px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  width: 200px;
  padding: 25px 0;
}

</style>
	
{% endblock %}